div.header > nav {
  background: #262A36;
  box-shadow: inset 0 -10px 10px 0 rgba(0,0,0,0.05);
  border-bottom: 1px solid #3f4557;
}

nav ul a {
  color: #fff;
}

nav i.fa-bars {
  font-size: 2em;
}

nav .button-collapse {
  margin: 0px 2px;
}

nav .nav-wrapper i {
  height: inherit;
  line-height: inherit;
}

nav .side-nav ul {
  position: relative;
  left: -300px;
  transition: left .2s ease;
  -webkit-transition: left .2s ease;
  -moz-transition: left .2s ease;
}

nav .side-nav.side-opened ul {
  left: 0px;
  transition: left .3s ease;
  -webkit-transition: left .3s ease;
  -moz-transition: left .3s ease;
}

nav .side-nav {
  background: #262A36;
}

nav .side-nav li > a {
  color: inherit;
}

.btn i {
  margin: 0 0.5em;
  font-size: 1.2em;
}

.brand-logo img {
  -webkit-transform: translateZ(0);
  position: relative;
  top: 8px;
}
.brand-logo .logo-letter {
  font-size: 58px;
  position: relative;
  top: 6px;
  font-weight: 400;
}

.brand-logo {
  display: inline-block;
  position: relative;
  font-size: 2.5em !important;
  top: -6px;
}

li.li-logo {
  padding: 1em;
  background: #262A36;
  box-shadow: inset 0 -10px 10px 0 rgba(0,0,0,0.05);
  border-bottom: 1px solid #3f4557;
}

li.li-logo > a.brand-logo {
  position: relative;
}

.section-banner {
  padding: 0;
  position: relative;
  background: #323642 url('/img/header/forest.svg') 0 10em repeat-x;
  border-bottom: 4px solid #3f4557;
}

.section-banner:after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 22em;
  top: 18.1em;
  z-index: 1;
  background: #0A0915;
}

.page-footer {
  background: #262A36;
}

.section-banner .container {
  position: relative;
  z-index: 10;
}

.section-banner .container .row {
  margin: 0px;
}

.section-banner .container .row .col {
  margin: 0;
  min-height: 40em;
  position: relative;
}

.section-banner .container .banner-text {
  position: relative;
  z-index: 12;
  margin-top: 22em;
  text-transform: uppercase;
}

.section-banner .banner-text-container {
  padding: 0;
}

.section-banner .container .banner-container {
  position: relative;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .section-banner .container .banner-text {
    margin-top: 5em;
    padding-left: 0;
  }

  .section-banner .container .banner-container {
    width: 90%;
  }

  .section-banner .banner-text-container {
    min-height: 30em !important;
    background: #0A0915;
  }

  .section-banner .banner-text-container strong {
    padding: 0 5%;
  }

  .section-banner .container {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) and (min-width: 420px) {
  .section-banner .container .banner-container {
    width: 75%;
    padding: 0 .75rem;
  }
}

.section-banner .banner-container .star {
  position: absolute;
  z-index: 1;
  background: #fff;
  width: 0.2em;
  height: 0.2em;
  border-radius: 100%;
  left: 60%;
  top: 1em;
  opacity: 0;
  animation: falling-star 5s Infinite ease-out;
  -webkit-animation: falling-star 5s Infinite ease-out;
  -moz-animation: falling-star 5s Infinite ease-out;

  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
}

@keyframes falling-star {
    0% {top: 1em; width: 0.1em; height: 0.1em; opacity: 0}
    5% {top: 1.2em; left: 60%; opacity: 1; }
    25% {top: 20em; left: 50%; opacity: 0; width: 0.3em; height: 0.3em;}
    100% {top: 20em; left: 50%; opacity: 0; width: 0.3em; height: 0.3em;}
}

@-webkit-keyframes falling-star {
    0% {top: 1em; width: 0.1em; height: 0.1em; opacity: 0}
    5% {top: 1.2em; left: 60%; opacity: 1; }
    25% {top: 20em; left: 50%; opacity: 0; width: 0.3em; height: 0.3em;}
    100% {top: 20em; left: 50%; opacity: 0; width: 0.3em; height: 0.3em;}
}

@-moz-keyframes falling-star {
    0% {top: 1em; width: 0.1em; height: 0.1em; opacity: 0}
    5% {top: 1.2em; left: 60%; opacity: 1; }
    25% {top: 20em; left: 50%; opacity: 0; width: 0.3em; height: 0.3em;}
    100% {top: 20em; left: 50%; opacity: 0; width: 0.3em; height: 0.3em;}
}

.section-banner img.cow {
  position: absolute;
  top: 26em;
  right: 0;
  width: 20em;
}

.section-banner img.eyes {
  position: absolute;
  top: 27.3em;
  right: 12.7em;
  width: 1.4em;
  z-index: 10;
  animation: cowEyes 1s Infinite;
  -webkit-animation: cowEyes 1s Infinite;
  -moz-animation: cowEyes 1s Infinite;

  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

@-webkit-keyframes cowEyes {
    0% {right: 12.7em;}
    50% {right: 13.2em;}
    100% {right: 12.7em;}
}
@-moz-keyframes cowEyes {
    0% {right: 12.7em;}
    50% {right: 13.2em;}
    100% {right: 12.7em;}
}
@keyframes cowEyes {
    0% {right: 12.7em;}
    50% {right: 13.2em;}
    100% {right: 12.7em;}
}

.section-banner img.ship {
  position: absolute;
  top: 2em;
  right: 5.4em;
  width: 6em;
}

.section-banner div.light-outline {
  position: absolute;
  z-index: 11;
  width: 0;
  height: 0;
  right: 1.9em;
  top: 6em;
  border-style: solid;
  border-width: 0 6.5em 30em 6.5em;
  border-color: transparent transparent #fff700 transparent;
  opacity: .1;

  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.section-banner div.light-bubble {
  position: absolute;
  z-index: 10;
  width: 5em;
  height: 1em;
  border-radius: 100%;
  background: #000;
  right: 6em;
  top: 15em;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;

  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.section-banner .bubble-1 {
  animation: bubbles 1s Infinite linear;
  -webkit-animation: bubbles 1s Infinite linear;
  -moz-animation: bubbles 1s Infinite linear;
}

.section-banner .bubble-2 {
  animation: bubbles 1s Infinite linear;
  -webkit-animation: bubbles 1s Infinite linear;
  -moz-animation: bubbles 1s Infinite linear;
  animation-delay: .5s;
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
}

.section-banner .bubble-3 {
  animation: bubbles 1s Infinite linear;
  -webkit-animation: bubbles 1s Infinite linear;
  -moz-animation: bubbles 1s Infinite linear;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
}

@keyframes bubbles {
  0% {top: 35em;opacity: .5;visibility:visible;}
  100% {top: 15em;opacity: 0;visibility: hidden;}
}
@-webkit-keyframes bubbles {
  0% {top: 35em;opacity: .5;visibility:visible;}
  100% {top: 15em;opacity: 0;visibility: hidden;}
}
@-moz-keyframes bubbles {
  0% {top: 35em;opacity: .5;visibility:visible;}
  100% {top: 15em;opacity: 0;visibility: hidden;}
}
/*@-webkit-keyframes bubbles {*/
/*  0% {top: 35em;opacity: .5;}*/
/*  100% {top: 15em;opacity: 0;}*/
/*}*/
/*@-moz-keyframes bubbles {*/
/*  0% {top: 35em;opacity: .5;}*/
/*  100% {top: 15em;opacity: 0;}*/
/*}*/

.social-links li {
  padding: 0.3em 0;
}

.social-links a {
  padding: 0.2em 0;
  border-bottom: 1px dashed #fb8c00;
  color: #fb8c00;
}

.social-links a:hover,
.social-links a:visited,
.social-links a:focus {
  border-bottom: 1px dashed #fff;
  color: #fff;
}


.section-logo {
  padding: 0px;
  background: #323642;
}

.section-banner .container .banner-text .social-buttons {
  padding-top: 3em;
}

.section-banner .container .banner-text .social-buttons .btn {
  font-size: 1.3em;
  line-height: 4em;
  display: inline-block;
  height: 4em;
  width: 18em;
}

.section-banner .container .banner-text .social-buttons i {
  position: relative;
  padding: 0;
}

.section-oss .row {
  margin-bottom: 0;
}

/* Social */
.btn.social > :first-child,
.btn-large.social > :first-child,
.col.social > :first-child {
/*  border-right: 1px solid rgba(0, 0, 0, 0.2);*/
}
.btn.social,
.btn-large.social,
.col.social {
/*  padding: 0 2rem 0 0;*/
}
.btn.social i,
.btn-large.social i,
.col.social i {
  padding: 0 1rem;
/*  margin-right: 1rem;*/
}
.btn.social-icon,
.btn-large.social-icon,
.col.social-icon {
  padding: 0;
}
.btn.social-icon i,
.btn-large.social-icon i,
.col.social-icon i {
/*  padding: 0 1rem;*/
  margin-right: 0;
}
.btn-large.social-icon {
/*  padding: 0 1rem;*/
}
.col.social {
  width: 100%;
  text-align: left;
}
.col.social i.fa-fw {
  width: 3.2rem;
}
.bitbucket {
  background-color: #205081;
  color: #fff !important;
}
.bitbucket i {
  color: #fff !important;
}
.bitbucket:hover {
  background-color: #2a69aa !important;
}
.dropbox {
  background-color: #1087dd;
  color: #fff !important;
}
.dropbox i {
  color: #fff !important;
}
.dropbox:hover {
  background-color: #309ff0 !important;
}
.facebook {
  background-color: #3b5998;
  color: #fff !important;
}
.facebook i {
  color: #fff !important;
}
.facebook:hover {
  background-color: #4c70ba !important;
}
.flickr {
  background-color: #ff0084;
  color: #fff !important;
}
.flickr i {
  color: #fff !important;
}
.flickr:hover {
  background-color: #ff339d !important;
}
.foursquare {
  background-color: #f94877;
  color: #fff !important;
}
.foursquare i {
  color: #fff !important;
}
.foursquare:hover {
  background-color: #fb799c !important;
}
.github {
  background-color: #444444;
  color: #fff !important;
}
.github i {
  color: #fff !important;
}
.github:hover {
  background-color: #5e5e5e !important;
}
.google {
  background-color: #dd4b39;
  color: #fff !important;
}
.google i {
  color: #fff !important;
}
.google:hover {
  background-color: #e47365 !important;
}
.instagram {
  background-color: #3f729b;
  color: #fff !important;
}
.instagram i {
  color: #fff !important;
}
.instagram:hover {
  background-color: #548cb9 !important;
}
.linkedin {
  background-color: #007bb6;
  color: #fff !important;
}
.linkedin i {
  color: #fff !important;
}
.linkedin:hover {
  background-color: #009de9 !important;
}
.microsoft {
  background-color: #2672ec;
  color: #fff !important;
}
.microsoft i {
  color: #fff !important;
}
.microsoft:hover {
  background-color: #5590f0 !important;
}
.windows {
  background-color: #2672ec;
  color: #fff !important;
}
.windows i {
  color: #fff !important;
}
.windows:hover {
  background-color: #5590f0 !important;
}
.odnoklassniki {
  background-color: #f4731c;
  color: #fff !important;
}
.odnoklassniki i {
  color: #fff !important;
}
.odnoklassniki:hover {
  background-color: #f6914d !important;
}
.openid {
  background-color: #f7931e;
  color: #fff !important;
}
.openid i {
  color: #fff !important;
}
.openid:hover {
  background-color: #f9ab4f !important;
}
.pinterest {
  background-color: #cb2027;
  color: #fff !important;
}
.pinterest i {
  color: #fff !important;
}
.pinterest:hover {
  background-color: #e03e44 !important;
}
.reddit {
  background-color: #eff7ff;
  color: #000 !important;
}
.reddit i {
  color: #000 !important;
}
.reddit:hover {
  background-color: #ffffff !important;
}
.soundcloud {
  background-color: #ff5500;
  color: #fff !important;
}
.soundcloud i {
  color: #fff !important;
}
.soundcloud:hover {
  background-color: #ff7733 !important;
}
.tumblr {
  background-color: #2c4762;
  color: #fff !important;
}
.tumblr i {
  color: #fff !important;
}
.tumblr:hover {
  background-color: #3c6085 !important;
}
.twitter {
  background-color: #55acee;
  color: #fff !important;
}
.twitter i {
  color: #fff !important;
}
.twitter:hover {
  background-color: #83c3f3 !important;
}
.vimeo {
  background-color: #1ab7ea;
  color: #fff !important;
}
.vimeo i {
  color: #fff !important;
}
.vimeo:hover {
  background-color: #49c6ee !important;
}
.vk {
  background-color: #587ea3;
  color: #fff !important;
}
.vk i {
  color: #fff !important;
}
.vk:hover {
  background-color: #7897b6 !important;
}
.yahoo {
  background-color: #720e9e;
  color: #fff !important;
}
.yahoo i {
  color: #fff !important;
}
.yahoo:hover {
  background-color: #9412cd !important;
}

