        {{#foreach navigation}}
          <li class="grey-text text-lighten-5"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
        {{!--
          <li>
            <a class="btn text-white pink accent-3 waves-effect waves-light" href="https://www.linuxenko.pro/donate.html">Donate !<i class="fa fa-money text-white right" aria-hidden="true"></i></a>
          </li>
          --}}
